@CHARSET "UTF-8";
#main-container {
	width: auto;
	height: 800;
	border: 2px solid rgba(0,0,0,0.2);	
}


#tool-title{
	height: 28px;
	background-color:#50C878;
	
	color: #FFCC00;
	font-size: medium;
	padding-top: 10px;
}


#tool-bar {
	 background-color: #40826D;
     /*background-repeat: repeat;*/
     height: 18px;
     /*margin-left: 1%;
     margin-right: 1%;*/
    /*border: 2px solid rgba(0,0,0,0.2);*/
    padding: 5px;
	
}

#page{
	background-color: grey;
   	width: 100%;
   	min-width: 940px;
   	height: 750px;
   	overflow: hidden;
}

#inspector {
    width: 250px;
   	height: 750px;
    float: left;
}

#paper{
	background-color: white;
	margin-right: 202px;
    margin-left: 252px;
   	height: 750px;
}

#instruments {
  float: right;
  width: 200px;
  height: 750px;
}


#footer{
	background-color: black;
	height: 24px;
}

.property-compartment {
	padding-left: 8px !important;
	padding-right: 8px !important;
}

.element-compartment {
	padding-left: 16px !important;
	padding-right: 16px !important;
}

.property-field {
	width: 220px !important;
}

.sdg-col_name {
	padding-top: 1px;
    padding-bottom: 1px;
}


.menu-item {
	float: left;
    margin-left: 3px;
}

.menu-item-first {
	float: left;
    margin-left: 12px;
}


.menu-item-end {
	float: right;
    margin-right: 3px;
}

.property-button {
	height: 42px;
	width: 42px;
	vertical-align: middle;	
}

.drag_item {
	z-index: 5000;	
}

.item-label{
	font-size: small; 
}

.selection {
   background-color: grey;
   border: 2px dashed black;
   opacity: .7;
}
.selection-box {
   border: 1px solid #8e44ad;
   margin-top: -4px;
   margin-left: -4px;
   box-shadow: none;
}
.selection-wrapper {
   border: 1px dotted #8e44ad;
   box-shadow: none;
}

.selection .box {
	visibility: hidden;
}

.selection .handle.rotate { display: none; } /* disables the rotate tool */

.halo .box {
	visibility: hidden;
}

.rotate {
	visibility: hidden;
}

.jsgrid-grid-header {
	font-size: small;
}

.jsgrid-grid-body {
	font-size: small;
}


.grid {
	background-image: linear-gradient(to right, #e6e6e6 1px, transparent 1px), linear-gradient(to bottom, #e6e6e6 1px, transparent 1px);
    background-size: 50px 50px;
}

#fileLoader
{
    display:none;
}

#developerDiv{
	text-align: center;
    font-weight: bold;
}

#superVisionerDiv{
	text-align: center;
    font-weight: bold;
}

#people{
	text-align-last: center;
}